:host {
  display: flex;

  a {
    &.active {
      background-color: var(--primary-color);
      color: var(--primary-color-text);
    }

    &:hover:not(.active) {
      background-color: var(--primary-50);
    }
  }

  main {
    margin-left: 105px;
  }
}
