<p-sidebar
  [visible]="true"
  styleClass="w-6rem flex justify-content-center"
  [showCloseIcon]="false"
>
  <ng-template pTemplate="header">
    <img
      src="/assets/angular.svg"
      width="54"
      class="flex justify-content-center"
    />
  </ng-template>

  <ng-template pTemplate="content">
    @for (link of navLinks; track link.route) {
      <p-button styleClass="cursor-auto">
        <ng-template pTemplate="icon">
          <ng-icon [name]="link.icon"></ng-icon>
        </ng-template>
      </p-button>
    }
  </ng-template>
</p-sidebar>

<router-outlet></router-outlet>
