<main>
  <h1>Wallpaper</h1>
  <div class="flex justify-content-center mt-4">
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      width="600"
      imageClass="border-round-lg"
    ></p-image>
  </div>
  <p-divider></p-divider>
  <div
    class="flex justify-content-center gap-4 flex-wrap mt-6 max-h-22rem overflow-y-scroll mx-4"
  >
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
      imageClass="border-round-sm"
    >
    </p-image>

    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
      [preview]="true"
      width="200"
    ></p-image>
  </div>

  <div></div>
</main>
